@import "~style/colors.scss";

.button {
  padding: 16px 8px;
  border-radius: 8px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_link {
  border: none;
  color: $color-blue;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: $color-white;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button_loading {
  padding: 8px 8px;
}
