$color-black: #1e1e1e;
$color-blue: #3369f3;
$color-aquamarine: #69FFFF;
$color-light-blue: #e4edfd;
$color-red: #ff2f2f;
$color-grey: #999;
$color-light-grey: #eaeaea;
$color-white: #ffff;
$color-platinum: #e6e6e6;
$color-bright-grey: #efefef;
$color-cultured: #f8f8f8;
