$color-black: #1E1E1E;
$color-blue: #3369F3;
$color-light-blue: #E4EDFD;
$color-red: #FF2F2F;
$color-grey: #999999;
$color-light-grey: #EAEAEA;
$color-white: #FFFF;
$color-platinum: #E6E6E6;
$color-bright-grey: #EFEFEF;
$color-cultured: #F8F8F8;
