@import "~style/colors.scss";

.dropdown__menu {
  position: absolute;
  top: 32px;
  right: 0;

  width: 200px;
  padding: 16px;
  background-color: $color-white;
  box-shadow: 0 8px 48px -16px rgba($color: $color-black, $alpha: 0.8);
  list-style-type: none;
}

.dropdown__item {
  padding: 0;
  padding: 16px 0;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}

.dropdown__item:not(:last-child) {
  border-bottom: 1px solid $color-light-grey;
}


.dropdown__item:first-child {
  padding-top: 0;
}

.dropdown__item:last-child {
  padding-bottom: 0;
}
